.letras {
    position: absolute;
    zoom: 0.5;
    top: 100px;
    left: 1250px;
}

.color_fondo{
  background-color: rgb(255, 255, 255);
}

.color_letras {
  background-color: rgba(255, 0, 0, 1);
  animation: pulseOpacity 3s infinite alternate;
}

@keyframes pulseOpacity {
  from { background-color: rgb(175, 62, 62); }
  to   { background-color: rgba(175, 62, 62, 0); }
}

.fondo1{
    position: absolute;
    height: 100px;
    width: 300px;
    top: 170px;
    left: 680px;
    transform:  rotate(30deg);
}

.fondo2{
    position: absolute;
    height: 100px;
    width: 300px;    
    top: 230px;
    left: 930px;
}

.fondo3{
    position: absolute;
    height: 90px;
    width: 300px;
    top: 170px;
    left: 1170px;
    transform:  rotate(-35deg);
}

.cuadrado1{
    position: absolute;
    height: 100px;
    width: 300px;
    top: 170px;
    left: 680px;
    transform:  rotate(30deg);
}

.cuadrado2{
    position: absolute;
    height: 100px;
    width: 300px;    
    top: 230px;
    left: 930px;
}

.cuadrado3{
    position: absolute;
    height: 90px;
    width: 300px;
    top: 170px;
    left: 1170px;
    transform:  rotate(-35deg);
}