.letras {
    position: absolute;
    zoom: 0.5;
    top: 100px;
    left: 1250px;
}

.cuadrado1{
    position: absolute;
    height: 100px;
    width: 300px;
    background-color: rgb(202, 194, 166);
    top: 170px;
    left: 680px;
    transform:  rotate(30deg);
}

.cuadrado2{
    position: absolute;
    height: 100px;
    width: 300px;
    background-color: rgb(202, 194, 166);
    top: 230px;
    left: 930px;
}

.cuadrado3{
    position: absolute;
    height: 90px;
    width: 300px;
    background-color: rgb(202, 194, 166);
    top: 170px;
    left: 1170px;
    transform:  rotate(-35deg);
}