.letras {
    position: relative;
    zoom: 0.5;
    top: 100px;
    left: 1250px;
}

.color_fondo{
  background-color: rgb(255, 255, 255);
}

.color_letras {
  background-color: rgba(255, 0, 0, 1);
  animation: pulseOpacity 3s infinite alternate;
}

@keyframes pulseOpacity {
  from { background-color: rgb(183, 55, 37); }
  to   { background-color: rgba(183, 55, 37, 0); }
}

.fondo1{
    position: absolute;
    height: 100px;
    width: 300px;
    top: 170px;
    left: 685px;
    transform:  rotate(30deg);
}

.fondo2{
    position: absolute;
    height: 80px;
    width: 180px;    
    top: 250px;
    left: 980px;
}

.fondo3{
    position: absolute;
    height: 80px;
    width: 325px;
    top: 185px;
    left: 1147px;
    transform:  rotate(-28deg);
}

.cuadrado1{
    position: absolute;
    height: 100px;
    width: 300px;
    top: 170px;
    left: 685px;
    transform:  rotate(30deg);
}

.cuadrado2{
    position: absolute;
    height: 80px;
    width: 180px;    
    top: 250px;
    left: 980px;
}

.cuadrado3{
    position: absolute;
    height: 80px;
    width: 325px;
    top: 185px;
    left: 1147px;
    transform:  rotate(-28deg);
}