.luces{
    position: absolute;
    zoom: 0.409;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.grupo1{
    background-color: rgb(235, 0, 0);
}

.grupo2{
    background-color: rgb(0, 255, 0);
}

.grupo3{
    background-color: rgb(0, 0, 255);
}

.grupo4{
    background-color: rgb(255, 255, 0);
}

.luz1 {
    top: 1570px;
    left: 2340px;
}

.luz2 {
    top: 1630px;
    left: 2480px;
}

.luz3 {
    top: 1735px;
    left: 2610px;
}

.luz4 {
    top: 1910px;
    left: 2615px;
}

.luz5 {
    top: 1820px;
    left: 2770px;
}

.luz6 {
    top: 2040px;
    left: 2825px;
}

.luz7 {
    top: 2215px;
    left: 2690px;
}

.luz8 {
    top: 2305px;
    left: 2509px;
}

.luz9 {
    top: 2350px;
    left: 2330px;
}

.luz10 {
    top: 2630px;
    left: 2190px;
}

.luz11 {
    top: 2640px;
    left: 2520px;
}

.luz12 {
    top: 2830px;
    left: 2560px;
}

.luz13 {
    top: 2875px;
    left: 2753px;
}

.luz14 {
    top: 2670px;
    left: 3020px;
}

.luz15 {
    top: 2760px;
    left: 2000px;
}

.luz16 {
    top: 2900px;
    left: 2070px;
}

.luz17 {
    top: 3025px;
    left: 2200px;
}

.luz18 {
    top: 2930px;
    left: 2380px;
}

.luz19 {
    top: 3145px;
    left: 2600px;
}

.luz20 {
    top: 3010px;
    left: 2765px;
}

.luz21 {
    top: 3130px;
    left: 2920px;
}

.luz22 {
    top: 2970px;
    left: 3080px;
}

.luz23 {
    top: 3270px;
    left: 3105px;
}

.luz24 {
    top: 3260px;
    left: 2920px;
}

.luz25 {
    top: 3435px;
    left: 2825px;
}

.luz26 {
    top: 3357px;
    left: 2637px;
}

.luz27 {
    top: 3510px;
    left: 2530px;
}

.luz28 {
    top: 3370px;
    left: 2365px;
}

.luz29 {
    top: 3520px;
    left: 2230px;
}

.luz30 {
    top: 3490px;
    left: 2010px;
}

.luz31 {
    top: 3450px;
    left: 1850px;
}

.luz32 {
    top: 3700px;
    left: 1720px;
}

.luz33 {
    top: 3905px;
    left: 1810px;
}

.luz34 {
    top: 4110px;
    left: 1840px;
}

.luz35 {
    top: 4040px;
    left: 2020px;
}

.luz36 {
    top: 4220px;
    left: 2050px;
}

.luz37 {
    top: 4130px;
    left: 2220px;
}

.luz38 {
    top: 4280px;
    left: 2315px;
}

.luz39 {
    top: 4170px;
    left: 2450px;
}

.luz40 {
    top: 4320px;
    left: 2525px;
}

.luz41 {
    top: 4290px;
    left: 2750px;
}

.luz42 {
    top: 4110px;
    left: 2835px;
}

.luz43 {
    top: 4180px;
    left: 2990px;
}

.luz44 {
    top: 4010px;
    left: 3080px;
}

.luz45 {
    top: 4110px;
    left: 3260px;
}

.luz46 {
    top: 4010px;
    left: 3400px;
}

.luz47{
    top: 3870px;
    left: 3330px;
}

.luz48{
    top: 3740px;
    left: 3410px;
}