.luces{
    position: absolute;
}

.grupo1{
    fill: red;
}

.grupo2{
    fill: red;
}

.grupo3{
    fill: red;
}

.grupo4{
    fill: red;
}

.luz1 {
    top: 1600px;
    left: 2370px;
}

.luz2 {
    top: 1660px;
    left: 2510px;
}

.luz3 {
    top: 1765px;
    left: 2640px;
}

.luz4 {
    top: 1940px;
    left: 2645px;
}

.luz5 {
    top: 1850px;
    left: 2800px;
}

.luz6 {
    top: 2070px;
    left: 2855px;
}

.luz7 {
    top: 2245px;
    left: 2720px;
}

.luz8 {
    top: 2335px;
    left: 2539px;
}

.luz9 {
    top: 2370px;
    left: 2350px;
}

.luz10 {
    top: 2660px;
    left: 2220px;
}

.luz11 {
    top: 2670px;
    left: 2550px;
}

.luz12 {
    top: 2860px;
    left: 2600px;
}

.luz13 {
    top: 2905px;
    left: 2803px;
}

.luz14 {
    top: 2720px;
    left: 3070px;
}

.luz15 {
    top: 2790px;
    left: 2030px;
}

.luz16 {
    top: 2960px;
    left: 2100px;
}

.luz17 {
    top: 3055px;
    left: 2240px;
}

.luz18 {
    top: 2980px;
    left: 2410px;
}

.luz19 {
    top: 3175px;
    left: 2650px;
}

.luz20 {
    top: 3040px;
    left: 2795px;
}

.luz21 {
    top: 2660px;
    left: -2600px;
}

.luz22 {
    top: 2660px;
    left: -2600px;
}

.luz23 {
    top: 2660px;
    left: -2600px;
}

.luz24 {
    top: 2660px;
    left: -2600px;
}

.luz25 {
    top: 2660px;
    left: -2600px;
}

.luz26 {
    top: 2660px;
    left: -2600px;
}

.luz27 {
    top: 2660px;
    left: -2600px;
}

.luz28 {
    top: 2660px;
    left: -2600px;
}

.luz29 {
    top: 2660px;
    left: -2600px;
}

.luz30 {
    top: 2660px;
    left: -2600px;
}

.luz31 {
    top: 2660px;
    left: -2600px;
}

.luz32 {
    top: 2660px;
    left: -2600px;
}

.luz33 {
    top: 2660px;
    left: -2600px;
}

.luz34 {
    top: 2660px;
    left: -2600px;
}

.luz35 {
    top: 2660px;
    left: -2600px;
}

.luz36 {
    top: 2660px;
    left: -2600px;
}

.luz37 {
    top: 2660px;
    left: -2600px;
}

.luz38 {
    top: 2660px;
    left: -2600px;
}

.luz39 {
    top: 2660px;
    left: -2600px;
}

.luz40 {
    top: 2660px;
    left: -2600px;
}

.luz41 {
    top: 2660px;
    left: -2600px;
}

.luz42 {
    top: 2660px;
    left: -2600px;
}

.luz43 {
    top: 2660px;
    left: -2600px;
}

.luz44 {
    top: 2660px;
    left: -2600px;
}

.luz45 {
    top: 2660px;
    left: -2600px;
}

.luz46 {
    top: 2660px;
    left: -2600px;
}

.luz47{
    top: 2660px;
    left: -2600px;
}
