* {
    margin: 0;
    font-family: system-ui;
}

body {
    width: 100%;
    height: auto;
}

.tarjeta {
    zoom: 0.7;
}

.arbol {
    position: absolute;
    width: auto;
    height: auto;
    border: 20px solid gray;
}

.estrella {
    position: absolute;
    zoom: 0.5;
    top: 880px;
    left: 2010px;
}

