* {
    margin: o;
    font-family: system-ui;
    height: 100%;
}

body {
    
    .general{
        zoom: 0.5841;
    }
    
    .fondo{
        position: absolute;
        width: 3000px;
        height: auto;
    }
    

    

}