* {
    margin: 0;
}

.tarjeta {
    zoom: 0.5;
}

.arbol {
    position: absolute;
    width: auto;
    height: auto;
    border: 20px solid gray;
}

.estrella {
    position: absolute;
    zoom: 0.5;
    top: 880px;
    left: 2010px;
}

