* {
    margin: 0;
}

.all {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
      
    background-size: cover;
    background-color: aqua;
}

.tarjeta {
    max-width: 100%;
    height: auto;
    position: relative;

}

.arbol {
    position: absolute;
    border: 20px solid gray;
}

#estrella {
    position: absolute;
    zoom: 0.5;
    top: 880px;
    left: 2007px;
}