*{
    margin: o;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    position: relative;

    svg{
        position: relative;
        top: 1000px;
        left: 1150px;
    }

    img{
        position: relative;
    }

}